{:deps true
 :builds
 {:app
  {:target :react-native
   :init-fn sprouts.entry-point/init
   :output-dir "target"
   :compiler-options {:infer-externs :auto}
   :devtools {:autoload true
              :preloads [shadow.remote.runtime.cljs.browser]}}

  :tailor
  {:target :browser
   :modules {:main {:init-fn tailor.ui.core/init}}
   :devtools
   {:http-root "src/tailor/public"
    :http-port 8080}}}}
